.nav-wrapper {
    padding: 0 20px;
}

.price {
    font-size: 2rem;
}

.course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course h3 {
    margin-bottom: 0.5rem;
}

.course img {
    max-width: 500px;
    height: 500px;
}

.course .price.big {
    font-size: 2.5rem;
    margin: 0;
}

.card-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-form {
    margin-bottom: 2rem;
}

.auth {
    padding-top: 1rem;
}

.tabs .tab a:hover {
    color:#26a69a;
}

.tabs .tab a:focus.active {
    color:#26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color:#26a69a;
    /*Custom Color Of Indicator*/
}